<div class="drawer critical-hide widget_shopping_cart_content cart_frm_side" tabindex="-1" data-section-id="cart-drawer" data-section-type="cart-drawer" data-cart-token="{{ cart.id }}" data-drawer-push aria-hidden="true">
{%- include 'cart_body' -%}
</div>
