{%- if sett_title != blank -%}
<div class="nasa-title clearfix tc mb__10 {{nt_section_title}}">
   <div class="nasa-wrap">
      <h4 class="nasa-heading-title"><span class="nasa-title-wrap"><span>{{sett_title}}</span></span></h4>
      <div class="nasa-title-desc">{{sett_sub_title}}</div>
   </div>
</div>
{%- endif -%}